<!DOCTYPE html>
<html>
<head>
  <title>LcshSuggest</title>
  <%= stylesheet_link_tag    "lcsh_suggest/application", :media => "all" %>
  <%= javascript_include_tag "lcsh_suggest/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
